{# src/Kita/BlogBundle/Resources/views/layout.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
    Blog - {{ parent() }}
{% endblock %}
    
{% block body %}
    <div id="page-wrapper">   
        {% block kitabushime_body %}
        {% endblock %}
    </div>
{% endblock %}